<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/sick-bg.css">
  <title>DRAW WITH FRIENDS</title>
</head>
<body>
  <div class="">
    <header class='absolute top-0 flex w-full items-center justify-center 
                   space-between border-b border-black opacity-70'
    >
      <a href="/">home</a>
      <div class='m-4 text-3xl opacity-100'>DRAW WITH FRIENDS</div>
      <a href="/">scores</a>
    </header>
    <main id='sick-bg' class='h-screen flex place-items-center place-content-center'>
      {{{ body }}}
    </main>
    <footer></footer>
  </div>
</body>
</html>