<div id="scoreboardContainer flex flex-col max-w-md px-20 py-20 bg-white rounded-lg shadow-2xl">
  <div id="firstPlace" class="bg-yellow-400">Player 1 | 100</div>
  <div id="secondPlace" class="bg-gray-300">Player 2 | 50</div>
  <div id="thirdPlace" class="bg-yellow-600">Player 3 | 30</div>
</div>