<div id="scoreboardContainer" 
  class="flex-grow flex flex-col max-w-lg min-w-max px-5 py-4 bg-white rounded-lg shadow-2xl place-self-center">
  
  {{#each this}}
  
    {{#if this.username}}
    <div id="scoring-player" class="a m-2 flex flex-grow ring-2 items-center text-xl rounded-sm">
      <div id='scorer-avatar' class='avatar m-2 w-8 h-8 bg-blue-300'></div>
      <div id='scorer-username' class="flex-grow text-center text-xl self-center text-black">
        {{username}}
      </div>
      |
      <div id='scorer-score' class="flex-grow text-center text-xl self-center">
        {{score}}
      </div>
    </div>
    {{/if}}

  {{/each}}

</div>
